.contacts-container {
    background-color: #1c1c1c;
    min-height: 500px;
    color: white;

    h1{
        color: white;
        text-align: center;
    }

    .form-container{
        padding-top: 50px;
        width: 50%;
        margin: 0 auto;
    }
}
