@import "./_variables.scss";


body{
  color: $font-black;
  font-family: "Roboto", sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;


  &:hover{
      cursor: pointer;
      text-decoration: underline;
  }
}

.displayNone{
  display: none;
}

.container{
  width: 80%;
  margin: 0 auto;

}


.pm-green{
    background-color: #55BA59;

    &:hover {
        background: #55BA59 ;
    }
}
