.main{
    .jumbotron{
      background-image: url(../../resources/img/jumbotron.jpg);
      background-size: cover;
      height: 350px;
      padding: 20px;
      @include flexMe(vertical);
    }


    .products{

      background: $black;
      width: 100%;


      .currentSeriesTitle{
        position: absolute;
        display: block;
        line-height: 30px;
        background: $blue;
        color: white;
        padding: 5px 20px;
       top: calc(-40px / 2);
      }

      .container{
        width: 80%;
        margin: 0 auto;
        position: relative;
        max-width: 1500px;
      }
    }

    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 6);
        padding-top: 40px;

        .cardContainer{
        max-width: 180px;
        margin-left: 15px;

        .pm-card{
            min-height: 180px;
            margin-bottom: 20px;
            padding: 10px;


            .containerImg{
              height: 220px;
              overflow: hidden;
              margin-bottom: 10px;
            }

            img{
                object-fit: contain;
                width: 100%;
                min-height: 220px;
            }

            h5{
              color: white;
              text-transform: uppercase;
                font-size: 1rem
            }
          }
      }


    }
    .loadBtn{
        @include flexMe(horizontal);

        h4{
          line-height: 30px;
          padding: 5px 20px;
          background-color: $blue;
          margin-bottom: 20px;
          color: white;
        }
      }
    }

